body {
    background-color: var(--white-secondary);
}


header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
}


.header-background{
    background-color: var(--blue-primary);
    width: 100%;
    height: 190px;
}

.nav-background {
    position: absolute;

    background-color: var(--black-primary);

    width: 100%;
    height: 80px;

    margin-top: 80px;
    z-index: 1;

}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    padding: 18px 172px;
}

.nav-logo {
    z-index: 2;
}

nav {
    z-index: 1;
    display: flex;
    flex-direction: column;

}

.nav-links {
    z-index: 2;
}

.nav-link {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 100px;
    padding: 24px 15px 24px; /*borda*/
    margin-top: 0px;
    margin-bottom: 0px;
}

/*DROPDOWN MENU*/

.dropdown {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.dropdown-content {
    display: none;
    flex-direction: column;

    position: absolute;

    left: -40px;
    right: -40px;
    margin-top: 8px;
}

.dropdown-content a {
    background-color: var(--black-primary);
    padding: 12px 0px;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.dropdown:hover .dropdown-content {
    display: flex;

    perspective: 1000px;
}

.dropdown-content:hover {
    display: flex;
}

/*DROPDOWN ANIMATION*/

.dropdown:hover .dropdown-content a {
    transform-origin: top center;
    opacity: 0;
}

.dropdown-content a:nth-child(1) {
    animation: dropdown-animation 300ms ease-in-out forwards;
    animation-delay: -150ms;
}

.dropdown-content a:nth-child(2) {
    animation: dropdown-animation 300ms ease-in-out forwards;
    animation-delay: 0ms;
}

.dropdown-content a:nth-child(3) {
    animation: dropdown-animation 300ms ease-in-out forwards;
    animation-delay: 150ms;
}

.dropdown-content a:nth-child(4) {
    animation: dropdown-animation 300ms ease-in-out forwards;
    animation-delay: 300ms;
}

@keyframes dropdown-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



/*CAROUSEL SLIDESHOW*/

.slideshow {
    z-index: 0;
    height: 97vh;
}

.slider-wrapper {
    position: relative;
}

.slider {
    display: flex;
    overflow-x: hidden; /*hide scrollbar*/
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    height: 97vh;
}

.slider img {
    width: 100%;
    margin-top: 180px; /*header height*/
    object-fit: cover;


    flex: 1 0 100%;
    scroll-snap-align: start; /*faz imagem sempre parar no começo (nao fica na metade)*/

    animation: slide-animation 8s infinite;

}


.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.slider-nav-play {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav-btn {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 70%;
    transition: opacity ease 250ms;
}


@keyframes slide-animation {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    40%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-100%);
    }
    80%{
        transform: translateX(-200%);
    }
    95% {
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0);
    }
}


/*NEWSLETTER*/
.newsletter {
    background-color: var(--white-secondary);
    height: 304px;


}

.newsletter-content {
    background-color: var(--white-primary);


    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h1 {
    font-size: 2rem;
    margin: 56px 0px 10px;
}

.newsletter form {
    margin: 28px 0px;
    display: flex;
    justify-content: center;
}

.newsletter-input {
    height: 50px;
    width: 432px;

    border: none;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(43, 42, 41, 0.2);

}

.newsletter-input::placeholder {
    color: var(--black-primary);
    font-family: var(--font-family-body);
    font-style: italic;
    font-size: 1rem;
    opacity: 0.8;
}

.newsletter-input[type="email"] {
    color: var(--black-primary);
    font-family: var(--font-family-body);
    font-size: 1rem;
    padding-left: 16px;

}

.newsletter-button {
    background-color: var(--black-primary);
    border: none;
    color: var(--white-primary);

    height: 50px;
}


/*NEWS SECTION*/

.news {
    position: relative;

    height: 432px;
    width: 100%;

    background-color: var(--blue-primary);
}

.news-content {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;

    background-color: var(--white-primary);
}

.news-content h1 {
    font-size: 3rem;
    margin-bottom: 16px;

}

.news-content button {
    margin-top: 16px;
    padding-inline: 32px;
}

.news-image {
    display: block;
    max-height: 100%;
}




/*SOCIAL SECTION*/

.social-section {
    width: 100%;
    height: 100px;
    background-color: var(--yellow-primary);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 56px;
}

.social-text {
    text-align: center;
}

.social-text h1 {
    font-size: 2rem;
}

.social-images {
    display: flex;
    gap: 16px;
}

.social-images a:hover {
    opacity: 0.9;
}

/*FOOTER*/


footer {
    background-color: var(--black-primary);
    width: 100%;
    height: 130px;

}

.footer-container {
    padding: 10px 20px;
    font-family: var(--font-family-body);
    color: var(--white-primary);

}

.footer-links {
    max-width: 332px;

    display: flex;
    justify-content: space-between;

}

.footer-links a {
    font-family: var(--font-family-body);
    font-weight: 800;
    color: var(--white-primary);
}

.footer-container hr {
    max-width: 302px;
    height: 2px;
    background-color: var(--white-primary);

    margin-top: 15px;
}

.footer-container p {
    font-family: var(--font-family-body);
    color: var(--white-primary);
    font-weight: 700;
    font-size: 0.80rem;

    margin-top: 26px;
    margin-bottom: 8px;
}

.footer-container span {
    font-size: 0.7rem;
}




