body {
    background-color: var(--white-secondary);
}


header {
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
}


.header-background{
    background-color: var(--blue-primary);
    width: 100%;
    height: 190px;
}

.nav-background {
    position: absolute;

    background-color: var(--black-primary);

    width: 100%;
    height: 80px;

    margin-top: 80px;
    z-index: 2;

}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    padding: 18px 172px;
}

.nav-logo-container {
    z-index: 3;
}

nav {
    z-index: 2;
    display: flex;
    flex-direction: column;

}

.nav-links {
    z-index: 3;
}

.nav-link {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-right: 100px;
    padding: 24px 15px 24px; /*borda*/
    margin-top: 0px;
    margin-bottom: 0px;
}




/*DROPDOWN MENU*/

.dropdown {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.dropdown-content {
    display: none;
    flex-direction: column;

    position: absolute;

    left: -40px;
    right: -40px;
    margin-top: 8px;
}

.dropdown-content a {
    background-color: var(--black-primary);
    padding: 12px 0px;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.dropdown:hover .dropdown-content {
    display: flex;

    perspective: 1000px;
}

.dropdown-content:hover {
    display: flex;
}

/*DROPDOWN ANIMATION*/

.dropdown:hover .dropdown-content a {
    transform-origin: top center;
    opacity: 0;
}

.dropdown-content a:nth-child(1) {
    animation: dropdown-animation 300ms ease-in-out forwards;
    animation-delay: -150ms;
}

.dropdown-content a:nth-child(2) {
    animation: dropdown-animation 300ms ease-in-out forwards;
    animation-delay: 0ms;
}

.dropdown-content a:nth-child(3) {
    animation: dropdown-animation 300ms ease-in-out forwards;
    animation-delay: 150ms;
}

.dropdown-content a:nth-child(4) {
    animation: dropdown-animation 300ms ease-in-out forwards;
    animation-delay: 300ms;
}

@keyframes dropdown-animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*MENU HAMBURGUER*/

.menu-nav {
    display: none;
}

#check {
    display: none;
}



@media (max-width: 530px) {
    nav {
        display: none;
    }

    .menu-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }


    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100%;
        background-color: var(--black-primary);
        gap: 16px;

        position: fixed;
        top: 0px;
        right: -100%;
        z-index: 10;
        transition: all 0.1s ease-in-out;
    }


    .menu-links {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: absolute;
        top: 100px;

        background-color: rgba(50, 49, 48, 0.85);
        padding: 0px 84px;
        padding-bottom: 0px;
    }


    .menu-links li a {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        transition: 0.15s ease-in-out;
        text-transform: uppercase;

        font-size: 1.6rem;
        letter-spacing: 2px;

        padding: 32px 0px;
    }

    .menu-sec-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu-links hr {
        width: 120%;
        opacity: 0.3;
    }

    .open-menu, .close-menu {
        position: absolute;
        width: 60px;
        height: 60px;
    }

    .open-menu {
        right: 12px;
        top: 90px;
        z-index: 2;
    }

    .close-menu {
        display: block;
        top: 16px;
        right: 28px;
    }

    #check:checked ~ .menu {
        right: 0;
    }


    #check:checked ~ .menu::after {
        content: "";
        background-color: black;
        opacity: 0.5;
        width: 40%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;

    }

}



@media (max-width: 375px) {
    .menu-links {
        padding-inline: 86px;
    }

    .menu-links li a {
        font-size: 1.2rem;
    }

}

/*HAMBURGUER MENU DROPDOWN*/
.menu-dropdown-content {
    display: none;
    flex-direction: column;

    position: absolute;

    left: -40px;
    right: -40px;
    margin-top: 8px;
}

.open-dropdown {
    display: block;
}


#check-menu-dropdown {
    position: absolute;
    opacity: 0;
    height: 40px;
    width: 100%;
    top: 30px;
}

#check-menu-dropdown:checked + .menu-dropdown-content {
    display: flex;
}


.menu-dropdown-content a {
    background-color: var(--black-primary);
    padding: 12px 0px;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.menu-dropdown-button:hover + .menu-dropdown-content {
    display: flex;
}





/*.nav-menu {*/
/*    display: none;*/
/*}*/

/*.nav-menu-close {*/
/*    display: flex;*/
/*    justify-content: end;*/
/*    padding: 8px 24px;*/
/*}*/

/*.nav-menu-close-img {*/
/*    height: 60px;*/
/*    width: 60px;*/

/*}*/

/*@media (max-width: 530px) {*/
/*    .nav-menu {*/
/*      display: flex;*/
/*    }*/

/*    .nav-content {*/
/*        display: flex;*/
/*        align-items: start;*/
/*    }*/

/*    nav {*/
/*        position: absolute;*/
/*        z-index: 10;*/
/*        right: 0;*/
/*        background-color: var(--black-primary);*/
/*        height: 100vh;*/
/*        width: 54vw;*/
/*        margin-top: -18px;*/
/*        margin-right: 62px;*/
/*    }*/

/*    .nav-links {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        gap: 16px;*/

/*        justify-content: center;*/
/*        align-items: center;*/

/*        background-color: rgba(75, 76, 80, 0.1);*/
/*        padding: 16px 0px;*/
/*    }*/

/*    .nav-links a {*/
/*        font-size: 1.4rem;*/
/*        width: 100%;*/
/*        padding: 16px;*/
/*        !*border-bottom: 1px solid white;*!*/
/*    }*/



/*}*/


/*CAROUSEL SLIDESHOW*/

.slideshow {
    z-index: 0;
}

.slider-wrapper {
    position: relative;
}

.slider {
    display: flex;
    overflow-x: hidden; /*hide scrollbar*/
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    height: 85vh;


}

.slider img {
    width: 100%;
    margin-top: 180px; /*header height*/
    object-fit: cover;

    flex: 1 0 100%;
    scroll-snap-align: start; /*faz imagem sempre parar no começo (nao fica na metade)*/

    animation: slide-animation 8s infinite;

}

.slider-bg {
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 70%,rgba(0,0,0,0.5) 99%);
    box-shadow: inset 0 -40px 120px rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    bottom: 0;

}

.slider-info {
    position: absolute;
    bottom: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: end;

    padding: 32px 24px;
}

.slider-info h1 {
    font-size: 4rem;
    color: var(--yellow-primary);
    font-family: var(--font-family-body);
}

.slider-info p {
    font-size: 0.8rem;
    letter-spacing: 3px;
    color: var(--white-secondary);
}



.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.slider-nav-play {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 2.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav-btn {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 70%;
    transition: opacity ease 250ms;
}



@media (max-width: 1690px) {
    .nav-content {
        padding: 18px;
    }

    .nav-link {
        margin-right: 50px;
        font-size: 1.4rem;
    }

    .slider {
        height: 80vh;
    }

}

@media (max-width: 1280px) {
    .slider {
        height: 126vh;
    }
}


@media (max-width: 1105px) {
    .nav-link {
        margin-right: 20px;
        font-size: 1.2rem
    }

}


@media (max-width: 1024px) {
    .slider {
        height: 56vh;
    }

    .slider-info h1 {
        font-size: 3rem;
        letter-spacing: 3px;
    }

    .slider-info p {
        font-size: 0.6rem;
    }
}

@media (max-width: 900px) {
    .nav-link {
        margin-right: 5px;
        font-size: 1rem;
        padding: 5px;
    }

    .slider {
        height: 60vh;
    }

    .slider-info h1 {
        font-size: 2rem;
    }

    .slider-info p {
        font-size: 0.4rem;
        letter-spacing: 2.3px;
    }
}

@media (max-width: 530px) {
    .slider {
        width: 115vw;
        height: 52vh;
    }

    .slider-info {
        padding: 18px 24px;
    }

    .slider-info h1 {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    .slider-info p {
        font-size: 0.24rem;
        letter-spacing: 1.2px;
    }
}

@media (max-width: 375px) {
    .slider {
        height: 66vh;
        width: 118vw;
        margin-top: 10px;
    }

    .slider-info h1 {
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    .slider-info p {
        font-size: 0.4rem;
        letter-spacing: 0px;
    }
}


@keyframes slide-animation {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);
    }
    40%{
        transform: translateX(-100%);
    }
    60%{
        transform: translateX(-100%);
    }
    80%{
        transform: translateX(-200%);
    }
    95% {
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0);
    }
}


/*NEWSLETTER*/
.newsletter {
    background-color: #F1f1f1;
    height: 304px;


}

.newsletter-content {
    background-color: var(--white-secondary);


    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter h1 {
    font-size: 2rem;
    margin: 56px 0px 10px;
}

.newsletter form {
    margin: 28px 0px;
    display: flex;
    justify-content: center;
}

.newsletter-input {
    height: 50px;
    width: 432px;

    border: none;
    background-color: #FFFFFF;
    border-bottom: 1px solid rgba(43, 42, 41, 0.2);

}

.newsletter-input::placeholder {
    color: var(--black-primary);
    font-family: var(--font-family-body);
    font-style: italic;
    font-size: 1rem;
    opacity: 0.8;
}

.newsletter-input[type="email"] {
    color: var(--black-primary);
    font-family: var(--font-family-body);
    font-size: 1rem;
    padding-left: 16px;

}

.newsletter-button {
    background-color: var(--black-primary);
    border: none;
    color: var(--white-primary);

    height: 50px;
}

@media (max-width: 900px) {
    .newsletter h1 {
        font-size: 1.6rem;
    }

    .newsletter p {
        font-size: 0.8rem;
    }
}

@media (max-width: 530px) {
    .newsletter {
        height: 22vh;
    }

    .newsletter h1 {
        font-size: 1rem;
        margin-bottom: 4px;
    }

    .newsletter p {
        font-size: 0.5rem;
    }

    .newsletter-input {
        width: 250px;
        height: 36px;

    }

    .newsletter-button {
        font-size: 0.8rem;
        padding: 8px 10px;
        height: 100%;
    }

    .newsletter-input[type="email"] {
        font-size: 0.6rem;
        padding-left: 16px;
    }

    .newsletter-input::placeholder {
        font-size: 0.6rem;
    }

}

@media (max-width: 375px) {
    .newsletter {
        height: 29vh;
    }

    .newsletter h1 {
        margin-bottom: 0px;
        margin-top: 64px;
    }

    .newsletter p {
        margin-bottom: 6px;
    }
}

/*NEWS SECTION*/

.news {
    position: relative;

    height: 40%;
    width: 100%;

    background-color: var(--blue-primary);
}

.news-content {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    background-color: var(--white-secondary);
}

.news-content h1 {
    font-size: 3rem;
    margin-bottom: 16px;
}

.news-content p {
    line-height: 1.5rem;
}

.news-content button {
    margin-top: 16px;
    padding-inline: 32px;
}

.news-image-container {
    position: relative;
    overflow: hidden;
    max-width: 48%;
    max-height: 100%;
}

.news-image {
    display: block;
    max-width: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
}

.news-image:hover {
    transform: scale(1.05);
}


@media (max-width: 1150px) {
    .news-content h1 {
        font-size: 2.4rem;
    }

    .news-content p {
        font-size: 0.75rem;
        line-height: 1rem;
    }
}

@media (max-width: 900px) {
    .news-content {
        gap: 16px;
    }

    .news-info h1 {
        font-size: 2rem;
        margin-bottom: 0px;
        margin-top: -48px;
    }

    .news-info p {
        font-size: 0.7rem;
        line-height: 0.9rem;
        margin-right: 12px;
    }

    .news-info button {
        margin-top: 8px;
    }
}

@media (max-width: 530px) {
    .news-content {
        flex-direction: column;
    }

    .news-image-container {
        max-width: 100%;
        max-height: 100%;
       margin-bottom: 42px;
    }

    .news-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
    }

    .news-info h1 {
        font-size: 1.5rem;
        margin-bottom: 4px;
    }

    .news-info p {
        font-size: 0.65rem;
        text-align: center;
        line-height: 1.1rem;
        margin-bottom: 8px;
        margin-inline: 10px;
    }

    .news-info button {
        padding: 12px 18px;
        font-size: 0.45rem;
        letter-spacing: 1px;
    }
}

@media (max-width: 375px) {


    .news-info h1 {
        font-size: 1.7rem;
    }

    .news-info p {
        font-size: 0.7rem;
        line-height: 1.1rem;
        text-align: start;
        margin: 0 20px;
        letter-spacing: 0.7px;
    }

    .news-info button {
        margin-bottom: 8px;
    }
}

/*SOCIAL SECTION*/

.social-section {
    width: 100%;
    height: 100px;
    background-color: var(--yellow-primary);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
}

.social-text {
    text-align: center;
}

.social-text h1 {
    font-size: 2rem;
}

.social-images {
    display: flex;
    gap: 28px;
}

.social-images a:hover {
    opacity: 0.9;
}


.social-shape {
    width: 46%;
    /*height: 40px;*/
    /*background-color: var(--black-primary);*/
    position: absolute;
    margin-bottom: 134px;
    right: 0;

    border-bottom: 36px solid var(--yellow-primary);
    border-left: 36px solid transparent;
}


@media (max-width: 530px) {
    .social-shape {
        border-bottom: 18px solid var(--yellow-primary);
        border-left: 16px solid transparent;
        margin-bottom: 116px;
    }

    .social-text h1 {
        font-size: 1.3rem;
    }

    .social-text p {
        font-size: 0.7rem;
    }

    .social-images {
        gap: 22px;
    }

    .social-images img {
        width: 34px;
    }

}

@media (max-width: 375px) {

    .social-section {
        gap: 42px;
    }

    .social-text {
        margin-left: 8px;
    }

    .social-text h1 {
        font-size: 1.3rem;
    }

    .social-images {
        gap: 14px;
        margin-right: 12px;
    }

}


/*GALLERY TITLE*/

.gallery {
    background-color: var(--white-primary);
    height: 100%;
    padding-top: 22px;
    padding-bottom: 22px;
}

.trapezio {
    width: 102px;
    left: 0;
    border-bottom: 28px solid var(--black-primary);
    border-right: 26px solid transparent;
}

.line {
    display: flex;
    flex-direction: row;
    position: relative;

}

.first-line {
    width: 8%;
    height: 36px;
    background-color: var(--black-primary);
}

.line h1{
    margin-top: -10px;
    margin-left: 10px;
    font-size: 3rem;
}

.main-line {
    position: absolute;
    right: 0;

    width: 76%;
    height: 36px;
    background-color: var(--black-primary);
}

@media (max-width: 1400px) {
    .first-line {
        width: 10%;
    }

    .main-line {
        width: 71%;
    }
}

@media (max-width: 1150px) {
    .first-line {
        width: 14%;
    }
    .main-line {
        width: 60%;
    }
}

@media (max-width: 900px) {
    .first-line {
        width: 18%;
    }
    .main-line {
        width: 50%;
    }
}

@media (max-width: 530px) {
    .first-line {
        width: 28%;
    }

    .main-line {
        width: 22%;
    }
}

@media (max-width: 375px) {

    .first-line {
        width: 32%;
    }

    .main-line {
        width: 12%;
    }
}


/*GALLERY CONTENT*/

.gallery-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8px;
    margin: 18px 12px;
    background-color: var(--white-primary);
}

.card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;

}

.card-inner {
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card-image {
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}


.card-info {
    position: absolute;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.35);
    width: 100%;
    height: 28%;

    padding: 14px 6px;
    transition: height 0.2s ease-in-out;
}


.card-title {
    font-weight: bold;
    font-size: 1.5rem;

    font-family: var(--font-family-body);
    color: var(--white-primary);
    text-transform: none;
}

.card-description {
    display: none;
    font-size: 0.9rem;

    font-family: var(--font-family-body);
    color: var(--white-primary);

    margin-top: 6px;
}

.card:hover .card-info {
    height: 68%;
}

.card:hover .card-description {
    display: block;
}

.card:hover .card-image {
    opacity: 0.95;
}

.card:hover .card-inner {
    transform: scale(1.1) rotateZ(-2deg);
}

@media (max-width: 1600px) {
    .gallery {
        background-color: var(--white-secondary);
    }

}

@media (max-width: 1280px) {
    .card-info {
        height: 32%;
        padding: 10px 6px;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-description {
        font-size: 0.8rem;
    }
}

@media (max-width: 1024px) {
    .gallery-content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 900px) {
    .card-info {
        height: 38%;
    }
}

@media (max-width: 530px) {
    .gallery-content {
        grid-template-columns: 1fr 1fr;
    }

    .card-info {
        height: 44%;
        padding-top: 24px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card:hover .card-info {
        height: 100%;
        padding-top: 8px;
    }

    .card-description {
        font-size: 0.7rem;
        line-height: 14px;
        font-weight: 400;
    }

}

@media (max-width: 375px) {
    .card-info {
        height: 47%;
        padding-top: 22px;
    }

}


/*SECOND NEWS SECTION*/

.second-news-section {
    position: relative;
    background-color: var(--blue-primary);

}

.second-news-blue {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.trapezio-second-news {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 67%;
    border-top: 36px solid var(--white-secondary);
    border-left: 32px solid transparent;
}

.second-news-content {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 242px;
}



.second-news-content img {
    mask-image: linear-gradient(to left, rgba(0,0,0,0) 12%,rgba(0,0,0,0.9) 70%);

}

.second-news-info {
    width: 100%;
    z-index: 1;

}


.second-news-content h1 {
    color: var(--white-primary);
    font-size: 3rem;
    margin-bottom: 16px;
}

.second-news-content p {
    color: var(--white-primary);
    margin-right: 72px;
    line-height: 1.5rem;
}

.second-news-content button {
    margin-top: 16px;
    padding-inline: 32px;
}

@media (max-width: 1500px) {

    .second-news-content {
        gap: 0px;
    }

    .second-news-content img {
        mask-image: linear-gradient(to left, rgba(0,0,0,0) 32%,rgba(0,0,0,0.9) 70%);
    }

    .show-case-image {
        width: 50%;
    }
}

@media (max-width: 1024px) {

    .second-news-info h1 {
        font-size: 2.4rem;
        margin-top: 24px;
        margin-bottom: 4px;
    }

    .second-news-info p {
        font-size: 0.75rem;
        line-height: 1.1rem;
        margin-right: 16px;
    }
}


@media (max-width: 900px) {
    .second-news-info h1 {
        font-size: 2rem;
    }

    .second-news-info p {
        font-size: 0.7rem;
    }

    .second-news-info button {
        margin-top: 8px;
    }
}

@media (max-width: 530px) {

    .show-case-image {
        margin-right: -80px;
    }

    .second-news-info {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-right: 32px;
    }

    .second-news-info h1 {
        font-size: 1.45rem;
        padding-top: 8px;
    }

    .second-news-info p {
        font-size: 0.5rem;
        line-height: 0.7rem;
        text-align: end;
        margin: 0px;
    }

    .second-news-info button {
        font-size: 0.5rem;
        padding: 8px;
        margin-top: 4px;
        letter-spacing: 1px;
        font-weight: 500;
    }
}

@media (max-width: 375px) {
    .second-news-info h1 {
        font-size: 1.35rem;
        padding-top: 16px;
    }
}



/*TRAPEZIO FOOTER*/

.top-footer {
    background-color: var(--blue-primary);

    display: flex;
    justify-content: space-between;
}

.trapezio-footer {
    width: 65%;
    border-bottom: 50px solid #353432;
    border-right: 52px solid transparent;
}

.top-footer-images {
    display: flex;
    gap: 24px;
    margin-right: 152px;
}


.top-footer-images img {
    height: 45px;
    width: 45px;

    filter: invert(100%) sepia(0%) saturate(7424%) hue-rotate(51deg) brightness(115%) contrast(93%);
}

@media (max-width: 900px) {
    .top-footer-images {
        margin-right: 36px;
    }
}


@media (max-width: 530px) {
    .top-footer-images {
        margin-right: 24px;
        gap: 16px;
    }
    .top-footer-images img {
        width: 24px;
    }
}

@media (max-width: 375px) {
    .trapezio-footer {
        width: 72%;
        border-bottom: 60px solid #353432;
        border-right: 58px solid transparent;

    }

    .top-footer-images {
        margin-right: 28px;
        margin-top: 6px;
    }
}

/*FOOTER*/


footer {
    background-color: var(--black-primary);
    width: 100%;
    height: 130px;
}

.footer-container {
    padding: 10px 20px;
    font-family: var(--font-family-body);
    color: var(--white-primary);

}

.footer-links {
    max-width: 332px;

    display: flex;
    justify-content: space-between;

}

.footer-links a {
    font-family: var(--font-family-body);
    font-weight: 800;
    color: var(--white-primary);
}

.footer-links a:hover {
    color: var(--yellow-primary);
}

.footer-container hr {
    max-width: 302px;
    height: 2px;
    background-color: var(--white-primary);

    margin-top: 15px;
}

.footer-container p {
    font-family: var(--font-family-body);
    color: var(--white-primary);
    font-weight: 700;
    font-size: 0.80rem;

    margin-top: 26px;
    margin-bottom: 8px;
}

.footer-container span {
    font-size: 0.7rem;
}

@media (max-width: 900px) {

    .footer-links {
        max-width: 36%;
    }

    .footer-links a {
        font-size: 0.7rem;
    }

    .footer-container hr {
        max-width: 32%;
    }
}

@media (max-width: 530px) {
    footer {
        height: 92px;
    }

    .footer-links {
        max-width: 36%;
        gap: 8px;
    }

    .footer-links a {
        font-size: 0.55rem;
        font-weight: 600;
    }

    .footer-container hr {
        max-width: 42%;
    }

    .footer-container p {
        font-size: 0.4rem;
        margin-top: 12px;
        margin-bottom: 0px;
    }

    .footer-container span {
        font-size: 0.4rem;
    }
}

@media (max-width: 375px) {

    footer {
        height: 82px;
    }

    .footer-links {
        gap: 10px;
    }

    .footer-links a {
        font-size: 0.6rem;
        font-weight: 800;
    }

    .footer-container hr {
        margin-top: 8px;
    }

    .footer-container p {
        font-size: 0.45rem;
        margin-top: 8px;
    }

}